doctype html
html(lang="en")
  head
    title Landing Page
  body
    h1 The future home of something magical1
    p This is a test paragraph this is a place holder.
    this is a test paragrap green eggs and ham.
    sam i am.
